* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-color: #333;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

/* Left Div */
.logo {
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo img {
  height: 80px;
  width: 70px;
}

.location {
  padding: 10px;
}

.location-name {
  position: relative;
}

.s-text {
  position: absolute;
  top: -15px;
  width: 100px;
  color: #ccc;
}

.l-text {
  color: #e3e3e3;
  font-size: 1.2em;
  font-weight: 600;
}

.fa-location-dot {
  padding: 0 5px;
  color: #fff;
}

/* Center Div */
.search-bar {
  flex: 3;
  padding: 5px 20px;
  margin: 10px;
  align-items: center;
}

.search-bar .drop-down-cat {
  width: 50px;
}

.search-box {
  /* width:60%; */
  flex: 2;
  position: relative;
}

.search-box input {
  width: 100%;
}

.search-bar input {
  padding: 8px 12px;
  border: none;
}

.search-bar select {
  padding: 7px 0;
  background-color: #ccc;
  outline: none;
  border: none;
}

.search-bar button {
  padding: 2px 10px;
}

.search-box .fa-magnifying-glass {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 7.5px 10px;
  background-color: orange;
}

.user-links {
  flex: 1;
  align-items: center;
}

.india {
  position: relative;
}

.india img {
  height: 20px;
  width: 30px;
}

.languages {
  flex-direction: column;
  background-color: #fcebeb;
  padding: 20px;
  width: 300px;
  display: none;
  position: absolute;
  top: 20px;
  z-index: 1;
}

.india:hover .languages {
  display: block;
}

.english {
  border-bottom: 2px solid #cecece64;
}

.lang:hover {
  color: orange;
  text-decoration: underline;
}

.languages div {
  padding: 8px 5px;
}

.region img {
  width: 16px;
  height: 12px;
}

.region .r-msg {
  color: #8c8a8a;
}

.cng-country a {
  text-decoration: none;
}
