* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #8c8a8a;
}

/* Global Starts */

.flex {
  display: flex;
}

.grid{
  display: grid;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}
/* Global Ends */
/* Header Starts Here */
header {
  background-color: #333;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
}

/* Left Div */
.logo {
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo img {
  height: 80px;
  width: 70px;
  margin: 0px 20px;
}

.location {
  padding: 10px;
  position: relative;
}

.location-name {
  margin-left: 10px;
}

.small-text {
  font-size: 0.8em;
  color: #ccc;
}

.large-text {
  color: #e3e3e3;
  font-size: 1em;
  font-weight: 600;
}

.fa-location-dot {
  position: absolute;
  bottom: 15px;
  left: 0;
  color: #fff;
}

/* Center Div */
.search-bar {
  flex: 3;
  padding: 5px 20px;
  margin: 10px;
  align-items: center;
}

.search-bar .drop-down-cat {
  width: 50px;
}

.search-box {
  /* width:60%; */
  flex: 2;
  position: relative;
}

.search-box input {
  width: 100%;
}

.search-bar input {
  padding: 8px 12px;
  border: none;
}

.search-bar select {
  padding: 7px 0;
  background-color: #ccc;
  outline: none;
  border: none;
}

.search-bar button {
  padding: 2px 10px;
}

.search-box .fa-magnifying-glass {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 7.5px 10px;
  background-color: orange;
}

.user-links {
  flex: 2;
  align-items: center;
}

.india {
  position: relative;
  cursor: pointer;
}

.india img {
  height: 20px;
  width: 30px;
}

.languages {
  flex-direction: column;
  background-color: #fcebeb;
  padding: 20px;
  width: 250px;
  font-size: 0.8em;
  display: none;
  position: absolute;
  top: 20px;
  z-index: 1;
}

.india:hover .languages {
  display: block;
}

.english {
  border-bottom: 2px solid #cecece64;
}

.lang:hover {
  color: orange;
  text-decoration: underline;
}

.languages div {
  padding: 8px 5px;
}

.region img {
  width: 16px;
  height: 12px;
}

.region .r-msg {
  color: #8c8a8a;
}

.cng-country a {
  text-decoration: none;
}
.user-info a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  position: relative;
}

.user-info:hover #sign-in-box {
  display: block;
}

#sign-in-box {
  position: absolute;
  right: 130px;
  display: none;
  background-color: #fcebeb;
  width: 400px;
  padding: 20px 40px;
  z-index: 1;
}
.button {
  text-align: center;
}

.btn {
  background-color: orange;
  padding: 8px 50px;
  border: 1px solid #c96400;
  outline: none;
  cursor: pointer;
  opacity: 0.8;
  font-weight: 600;
}

.btn:hover {
  opacity: 1;
}

.extra-small-text {
  font-size: 0.8em;
}

.user-box {
  justify-content: space-between;
  color: #757575;
}

.user-box h3 {
  color: #000;
}

.user-box ul {
  list-style: none;
}

.user-box li {
  padding: 2px 5px;
}

.user-box li:hover {
  color: orange;
  text-decoration: underline;
}
.services {
  color: #fff;
  cursor: pointer;
}
.cart {
  margin: 0 20px;
  color: #fcebeb;
}
.cart span {
  font-size: 1.5em;
}
/* Header Ends */
/* Subheading */
.sub-header{
  padding: 10px;
  justify-content: space-between;
  background-color: #5e5d61;
}

.sub-header a{
  padding: 15px;
  color:#fff;
  text-decoration: none;
  margin-left:15px;
}
/* Subheading Ends */
    /* Banner Starts Here */
.banner img{
  width:100%;
  height:500px;
}
/* Banner Ends */

/* Main Starts Here */

.grid-container img{
  height:100%;
  max-width: 100%;
}

/* General Grid Container */
.grid-container{
  width:100vw;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: 
    "box1 box1 box1 box1"
    "box2 box3 box4 box5"
    "box6 box7 box box9"
    "box10 box11 box12 box13";
    row-gap: 10px;
    column-gap: 20px;
}

/* General Grid Items inside Grid Container */
.item{
  padding: 10px;
  grid-template-columns: repeat(2,auto);
  grid-template-rows: repeat(2,auto);
  grid-template-areas: 
  "item1 item2"
  "item3 item4";
  justify-items: center;
  align-items: center;
}
.item1{
  grid-area: item1;
}
.item2{
  grid-area:item2;
}
.item3{
  grid-area: item3;
}
.item4{
  grid-area: item4;
}

.row{
  border:1px solid black;
  background-color: #fff;
  padding: 10px;
}

.box1{
  grid-area: box1;
  text-align: center;
  padding: 10px;
}
.box1 a{
  text-decoration: none;
}
.box1 a:hover{
  text-decoration: underline;
}

.box2{
  grid-area: box2;

}
.box3{
  grid-area: box3;
}
.box4{
  grid-area: box4;
}
.box5{
  grid-area:box5;
}
.box6{
  grid-area: box6;
}